<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Piclos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .avatar {
        vertical-align: middle;
        width: 10%;
        border-radius: 50%;
    }

    .selected{
        background-color: rgba(243, 240, 243, 0.6);
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="display: flex;justify-content: flex-start;align-content: center">
        <img src="https://zupimages.net/up/22/10/etfe.png" alt="Avatar" class="avatar">
        <a class="navbar-brand" href="#">Contact Piclos</a>
    </div>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add Contact <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" style="display: flex; justify-content: center;align-content: center">
                <div th:switch="${session['valueSessionName']}" style="display: flex; align-items: center;">
                    <p th:case="null">None</p>
                    <p th:case="*" th:utext="${session['valueSessionName']}" style="padding: 0!important;margin: 0!important;display: flex;
    align-items: center;"><p>
                </div>
            </li>
            <li class="nav-item" style="display: flex; justify-content: center;align-content: center">
                <a class="nav-link" href="/endsession">Deconnexion<span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>
    <section class="mb-4 mt-4">
        <div class="row h-100">
            <div class="col-4 h-100">
                <h2 class="ml-4">Contacts</h2>
                <div th:each="contact, state : ${contacts}">
                    <a class="text-decoration-none" th:href="@{/home(id=${contact.id})}" >
                        <div class="pl-4 row border-bottom ml-4" th:classappend="${contact.id} == (${selected} != null ? ${selected.id} : '') ? 'selected' : ''">
                            <img class="rounded-circle my-2 float-left" alt="100x100" src="https://picsum.photos/40"
                                 data-holder-rendered="true">
                            <p th:utext="${contact.name}"
                               class="ml-3 mt-3 float-left"
                               th:classappend="${contact.id} == (${selected} != null ? ${selected.id} : '') ? 'text-muted' : 'text-dark'">
                                Full Name
                            </p>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-8 h-100 border-left px-4">
                <div th:switch="${selected}">
                    <p th:case="null">No contact Selected</p>
                    <div th:case="*" class="row">
                        <div class="col-12 ">
                            <img class="rounded-circle mt-2 float-left" alt="100x100" src="https://picsum.photos/100"
                                 data-holder-rendered="true">
                            <br>
                            <div class="float-left">
                                <h2 th:utext="${selected.name}" class="align-middle ml-3 mt-3"></h2>
                            </div>
                        </div>

                        <div th:switch="${selected.getMail().size()}" class="mt-4 col-4">
                            <h5 class="ml-4">Mails</h5>
                            <div th:case="0" class="col-12 pl-4">
                                No Mail
                            </div>
                            <div th:case="*" class="col-12">
                                <div th:each="m, state : ${selected.mail}"
                                     class="row ml-4">
                                    <span th:text="${m}" class="mt-2"></span>
                                    <a th:href="@{/delete/mail(mail=${m})}">
                                        <button class="btn"><i class="fa fa-trash"></i></button>
                                    </a>
                                </div>
                            </div>
                            <div class="row col-12 mt-3">
                                <div class="col-12">
                                    <form action="/add/mail" method="GET">
                                        <input type="submit" name="action" class="btn btn-info w-100" value="Add Mail" />
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div th:switch="${selected.getAddresses().size()}" class="mt-4 col-8">
                            <h5 class="ml-4">Address</h5>
                            <div th:case="0" class="col-12 pl-4">
                                No Address
                            </div>
                            <div th:case="*" class="col-12">
                                <div th:each="a, state : ${selected.addresses}"
                                     class="row ml-4">
                                    <span th:text="${a.toString()}" class="mt-2"></span>
                                    <a th:href="@{/delete/address(id=${a.id})}">
                                        <button class="btn"><i class="fa fa-trash"></i></button>
                                    </a>
                                </div>
                            </div>
                            <div class="row col-12 mt-3">
                                <div class="col-12">
                                    <form action="/add/address" method="GET">
                                        <input type="submit" name="action" class="btn btn-info w-100" value="Add Address" />
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row col-12 mt-3">
                            <div class="col-12">
                                <form action="/delete" method="GET">
                                    <input type="submit" name="action" class="btn btn-danger w-100" value="Delete" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </section>
</body>
</html>